<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BookLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB257A2D1ED2AD9700A28615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB257A441ED2AD9800A28615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB257A4F1ED2AD9800A28615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
